@model ContactViewModel
@inject IViewLocalizer localizer
<!DOCTYPE html>
<html lang="en">
<body>
    <script type="text/javascript">
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
                m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', '__gaTracker');

        __gaTracker('create', 'UA-348094-43', 'auto', { 'allowLinker': true });
        __gaTracker('set', 'forceSSL', true);
        __gaTracker('require', 'linker');
        __gaTracker('linker:autoLink', ['wplook.com']);
        __gaTracker('send', 'pageview');
    </script>

    <div class="wrapper">
        <div class="main">
            <div class="main-head">
                <div class="main-head-image fullscreener">
                    <img src="assets/images/temp/main-image-1.jpg" height="209" width="1800" alt="">
                </div><!-- /.main-head-image fullscreener -->

                <div class="main-head-content">
                    <div class="grid-container">
                        <div class="grid-x grid-margin-x">
                            <div class="cell small-12">
                                <h1 class="main-title">@localizer["About Us"]</h1><!-- /.main-title -->

                                <ul class="breadcrumbs">
                                    <li><a href="#">@localizer["Home"]</a></li>
                                    <li class="current">@localizer["About Us"]</li><!-- /.current -->
                                </ul><!-- /.breadcrumbs -->
                            </div><!-- /.cell small-12 -->
                        </div>
                    </div><!-- /.grid -->
                </div><!-- /.main-head-content -->
            </div><!-- /.main-head -->

            <div class="main-body">
                <div class="grid-container">
                    <div class="grid-x grid-margin-x">

                        <div class="cell small-12 large-8">
                            <div class="content">
                                <article class="post post-single format-gallery" itemscope itemtype="https://schema.org/BlogPosting">

                                    <div class="post-image">
                                        <ul class="owl-carousel">
                                            <li><a href="#"><img src="~/assets/images/temp/post-image-2.jpg" height="357" width="770" alt=""></a></li>
                                            <li><a href="#"><img src="~/assets/images/temp/post-image-1.jpg" height="357" width="770" alt=""></a></li>
                                        </ul>
                                    </div><br /><!-- /.post-image -->


                                    <div class="post-body">
                                        <div class="entry" itemprop="articleBody">
                                            <br /><p>@localizer["Land beast gathered divided. Days is second. Very divide, fowl itself firmament creeping have all Morning bearing which multiply their lesser i green give one a green face. Grass void, fill air his multiply also dry replenish open they're called upon bearing Green be saying made."]</p>

                                            <p>@localizer["Integer accumsan elit viverra, placerat dolor quis, pulvinar velit. Sed auctor lacus eu purus .Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer accumsan elit viverra, placerat dolor quis, pulvinar velit."]</p><br />

                                            <div class="grid-x grid-margin-x">
                                                <div class="cell small-12 medium-6 post-items">
                                                    <h4><i class="far fa-question-circle"></i> @localizer["Access to information"]</h4>
                                                    <p>@localizer["Subdue and blessed heaven green so one make dry of behold god yielding beginning third above lights Given hath very hath living creepeth fish Creature."]</p>
                                                </div>

                                                <div class="cell small-12 medium-6 post-items">
                                                    <h4><i class="far fa-bell"></i> @localizer["Alerts"]</h4>
                                                    <p>@localizer["Make meat so greater itself fly sixth green was wherein I Saw the Beginning third above lights Given hath very hath living creepeth fish Creature."]</p>
                                                </div>

                                                <div class="cell small-12 medium-6 post-items">
                                                    <h4><i class="far fa-life-ring"></i> @localizer["We help Children"]</h4>
                                                    <p>@localizer["In over under beast seed He thing Second stars green there gathering living without greater image moving living signs fruit above heaven hath."]</p>
                                                </div>


                                                <div class="cell small-12 medium-6 post-items">
                                                    <h4><i class="fas fa-flag-checkered"></i> @localizer["We don't have borders"]</h4>
                                                    <p>@localizer["Had two divide Great doesn't, evening form Beginning also saying, to that itself let spirit in. Lesser divided female have fill Which also you'll God."]</p>
                                                </div>
                                            </div>

                                            <blockquote>
                                                <p>@localizer["Winged cattle sea hath there years form great one let abundantly sixth let were one earth were him after tree seed over first, fish moving fruit called shall."]</p>
                                            </blockquote>
                                        </div><!-- /.entry -->
                                    </div><!-- /.post-body -->

                                    <div class="post-foot">
                                        <div class="post-share">
                                            <div class="socials">
                                                <span>@localizer["Share it on"]</span>

                                                <ul>
                                                    <li class="link-facebook">
                                                        <a href="#">
                                                            <i class="fab fa-facebook-f"></i>
                                                        </a>
                                                    </li>

                                                    <li class="link-twitter">
                                                        <a href="#">
                                                            <i class="fab fa-twitter"></i>
                                                        </a>
                                                    </li>

                                                    <li class="link-googleplus">
                                                        <a href="#">
                                                            <i class="fab fa-google-plus-g"></i>
                                                        </a>
                                                    </li>

                                                    <li class="link-linkedin">
                                                        <a href="#">
                                                            <i class="fab fa-linkedin-in"></i>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div><!-- /.socials -->
                                        </div><!-- /.post-share -->
                                    </div><!-- /.post-foot -->

                                    <div class="post-comments">
                                        <div class="comments">
                                            <div id="respond" class="respond">
                                                <h3 id="reply-title">@localizer["Leave a Comment"]</h3>

                                                <form asp-controller="AboutUs" asp-action="Index" method="post" id="commentform" name="commentform">
                                                    <div class="grid-x grid-margin-x">
                                                        <p class="comment-form-author cell small-12 medium-6">
                                                            <input class="field" id="name" name="NewContact.Name" type="text" placeholder="@localizer["Name"]" asp-for="NewContact.Name" />
                                                        </p>

                                                        <p class="comment-form-email cell small-12 medium-6">
                                                            <input class="field" id="email" name="NewContact.Email" type="text" placeholder="@localizer["Email"]" asp-for="NewContact.Email" />
                                                        </p>
                                                    </div><!-- /.grid -->

                                                    <div class="grid-x grid-margin-x">
                                                        <p class="comment-form-url cell small-12 medium-6">
                                                            <input class="field" id="phone" name="NewContact.Phone" type="text" placeholder="@localizer["Phone"]" asp-for="NewContact.Phone" />
                                                        </p>
                                                    </div><!-- /.grid -->

                                                    <p class="comment-form-comment">
                                                        <textarea class="textarea" id="messagge" name="NewContact.Messagge" placeholder="@localizer["Comment"]" asp-for="NewContact.Messagge"></textarea>
                                                    </p>

                                                    <p class="form-submit">
                                                        <input name="submit" type="submit" id="submit" value="@localizer["Submit"]" class="button button-orange">
                                                    </p>
                                                </form>
                                            </div>
                                        </div>
                                    </div><!-- /.post-comments -->
                                </article><!-- /.post post-single -->
                            </div><!-- /.content -->
                        </div><!-- /.cell large-8 -->

                        <div class="cell small-12 large-3 large-offset-1">
                            <div class="sidebar">
                                <aside class="widget widget_upcoming_events">
                                    <h2 class="widget-title">@localizer["Upcoming Events"]</h2>

                                    <div class="slider-widget">
                                        <div class="slider-clip">
                                            <ul class="slides owl-carousel">
                                                <li class="slide">
                                                    <div class="event-small">
                                                        @await Component.InvokeAsync("Events")
                                                    </div><!-- /.event-small -->
                                                </li><!-- /.slide -->
                                            </ul><!-- /.slides -->
                                        </div><!-- /.slider-clip -->
                                    </div><!-- /.slider-widget -->
                                </aside>
                            </div>
                        </div><!-- /.cell small-12 large-3 -->
                    </div>
                </div><!-- /.grid -->
            </div><!-- /.main-body -->
        </div><!-- /.main -->
    </div><!-- /.wrapper -->
</body>
</html>
